header {
    background: #FFF;
    padding-bottom: 10px;
    .search-wrapper,
    .new-post-wrapper {
        padding-top: 21px;
    }
}

.logo-wrapper {
    padding-top: 21px;
}

.logo {
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    span {
        background: #FFF;
        padding: 0 8px;
        color: #00C300;
        margin-left: 4px;
    }
    &:hover,
    &:focus {
        color: #24963e;
        text-decoration: none;
    }
}

#main-nav {
    margin-bottom: 60px;
    background: #FFF;
    .nav-link {
        font-size: 20px;
        color: #3a3a3a;
        &:hover {
            color: #24963e;
        }
    }
    .home {
        padding-left: 0;
    }
}

#search-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}