header {
    background: #FFF;
    padding-bottom: 10px;
    .search-wrapper,
    .new-post-wrapper {
        padding-top: 21px;
    }
}

.logo-wrapper {
    padding-top: 12px;
}

.logo {
    font-family: 'Acme', sans-serif;
    color: #1c7831;
    font-size: 44px;
    span {
        color: #24963e;
    }
    &:hover,
    &:focus {
        color: #1c7831;
        text-decoration: none;
    }
}

#main-nav {
    margin-bottom: 60px;
    background: #FFF;
    .nav-link {
        font-size: 20px;
        color: #3a3a3a;
        &:hover {
            color: #24963e;
        }
    }
    .home {
        padding-left: 0;
    }
}

#search-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}