header {
    background: #1FB200;
    padding-bottom: 22px;
}

.logo {
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    span {
        background: #FFF;
        padding: 0 8px;
        color: #00C300;
        margin-left: 4px;
    }
    &:hover, &:focus {
        color: #FFF;
        text-decoration: none;
    }
}

#main-nav {
    margin-bottom: 60px;
    .nav-link {
        font-size: 20px;
        color: #3a3a3a;
        &:hover {
            color: #000;
        }
    }
    .home {
        padding-left: 0;
    }
}

#search-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}