body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

.img-fh {
  height: 190px;
  width: 100%;
  object-fit: cover;
  background: #FAFAFA;
}

.card {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #EDEDED;
  .card-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.btn-light {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  &:hover {
    background-color: #DBDBDB;
  }
}

.alt-font {
  font-family: 'Oswald', sans-serif;
}

.notice {
  border: 1px solid #CBE1FF;
  border-radius: 3px;
  padding: 5px 8px;
  p {
    margin:  0;
  }
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.image-uploader {
  .fileContainer {
    box-shadow: none;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
  .chooseFileButton, .chooseFileButton:hover, .chooseFileButton:focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    border-radius: .25rem;
  }
  .deleteImage {
    background: #CCC;
    font-size: 14px;
    width: 25px;
    height: 25px;
    right: -16px;
    line-height: 27px;
  }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(21, 21, 21, 0.75)!important;
}

.listing-card:hover {
  border-color: #ccc;
}

.img-sm {
  width: 60px;
  height: 60px;;
}

table {
  th {
    border-bottom-width: 0!important;
    font-weight: normal;
    color: #000;
    font-size: 18px;
  }
}