html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  margin-bottom: 90px;
}

.default-layout {
  background: #fafafa;
}

.minimal-layout {
  background: #fff;
}

.img-fh {
  height: 150px;
  width: 100%;
  object-fit: cover;
  background: #CCC;
}

.card {
  padding: 4px;
  border-radius: 4px;
  border: none;
  .card-body {
    padding-left: 0;
    padding-right: 0;
  }
  .footer {
    text-align: center;
  }
}

.btn-green {
  color: #FFF;
  background-color: #28a745;
  border-color: #28a745;
  &:hover, &:focus {
    color: #FFF;
    background-color: #28a745;
    opacity: 0.96;
  }
}

.alt-font {
  font-family: 'Oswald', sans-serif;
}

.notice {
  border: 1px solid #CBE1FF;
  padding: 5px 8px;
  p {
    margin: 0;
  }
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.image-uploader {
  .fileContainer {
    box-shadow: none;
    border: 1px solid #ced4da;
    border-radius: 0;
  }
  .chooseFileButton,
  .chooseFileButton:hover,
  .chooseFileButton:focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    border-radius: 0;
  }
  .deleteImage {
    background: #CCC;
    font-size: 14px;
    width: 25px;
    height: 25px;
    right: -16px;
    line-height: 27px;
  }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(21, 21, 21, 0.75) !important;
}

.listing-card:hover {
  border-color: #9E9E9E;
}

.img-sm {
  width: 60px;
  height: 60px;
  ;
}

table {
  th {
    border-bottom-width: 0 !important;
    font-weight: normal;
    color: #000;
    font-size: 18px;
  }
}

.custom-confirm-alert {
  background: #FFF;
  border: 1px solid #CCC;
  padding: 20px;
}

.search-form {
  border-radius: 2.3rem!important;
  border: none; 
  background: #f7f7f7;
}

.search-form:focus {
  outline: none !important;
}

input,
textarea {
  border-radius: 0 !important;
}

.btn {
  border-radius: 2.3rem;
}

.required {
  border: 1px solid #32af43
}

.validation-error {
  border: 1px solid #E03D3D !important;
}

.text-danger {
  color: #E03D3D !important;
}

.image-uploader-required {
  .fileContainer {
    border: 1px solid #32af43
  }
}

.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.77);
}

.temp-logo {
  width: 200px;
  height: auto;
}