
#minimal-nav {
    margin-bottom: 60px;
    border-bottom: 1px solid #FAFAFA;
    padding: 0;
    .nav-link {
        font-size: 17px;
        color: #3a3a3a;
        &:hover {
            color: #000;
        }
    }
}

a#minimal-logo {
    font-size: 24px;
}

.pointer {
    cursor: pointer; 
}