#minimal-nav {
    background: #1c7831;
    margin-bottom: 60px;
    padding: 0;
    .nav-link {
        font-size: 18px;
        color: #FFF;
        &:hover {
            color: #f7f7f7;
        }
    }
}

a#minimal-logo {
    font-family: 'Acme', sans-serif;
    font-size: 28px;
    color: #FFF;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}