
#minimal-nav {
    margin-bottom: 60px;
    background: #1FB200;
    padding: 0;
    .nav-link {
        font-size: 17px;
        color: #FFF;
        &:hover {
            color: #FFF;
        }
    }
}

a#minimal-logo {
    font-size: 24px;
    color: #FFF;
    font-weight: bold;
    span {
        background: #FFF;
        padding: 0 6px;
        color: #00C300;
        margin-left: 2px;
    }
}

.pointer {
    cursor: pointer; 
}